.hello {
  color: red;
  background: url("./images/pingu.jpeg");
}

@font-face {
font-family: 'Pochirin';
src: url('/dist/Pochirin.ttf') format('truetype');
}

body{
    font-family: 'Pochirin';
    background-color: #ffffff;
}
#footer {
    font-family: 'Pochirin';
    font-weight: normal;
    font-style: normal;
}

#header{
    font-family: 'Pochirin';
    font-weight: normal;
    font-style: normal;
}

#header img{
  position: absolute;
  top: 0;
  right: 0; 
}
#header{
  color:#6a5034;
}

#body{
  color:#6a5034;
}

#footer{
  color:#6a5034;
}

#team_names{
  color:#6a5034;
}
.colored-block {
    position: relative;
    background-color: #ffe699;
    height: 200px;
    width: 100%;
    margin-top: auto;
    border: 5px outset grey;
    border-radius: 11px;
    display: flex;
    justify-content: center;
}

#team_names {
    font-family: 'Pochirin';
    text-align: right;
}

.monke {
    height: 300px;
    width: 300px;
}

<<<<<<< HEAD
.body-color {
    position: relative;
    background-color: #ffffff;
    height: 200px;
    width: 50%;
    margin-top: auto;
    border: 5px outset grey;
    border-radius: 11px;
    margin-left: 25%;
}
=======
#memonke{
  text-align: center;
}

#memonkey img{
  display: block;
  margin: 0 auto;
}


.body1{
    text-align: center;
}
<<<<<<< HEAD
>>>>>>> 4f637ab132a80e40f6a4668b5349e44060f3b37a
=======
button{
  background-color: grey;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  padding: px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}
>>>>>>> 8bbba74f0958fdd58796da9f1e8c83ade4c6c8be
