.hello {
  color: red;
  background: url("./images/pingu.jpeg");
}

@font-face {
font-family: 'Pochirin';
src: url('/dist/Pochirin.ttf') format('truetype');
}

#footer {
    font-family: 'Pochirin';
    font-weight: normal;
    font-style: normal;
}

#header{
    font-family: 'Pochirin';
    font-weight: normal;
    font-style: normal;
}

#header img{
  position: absolute;
  top: 0;
  right: 0; 
}
.colored-block {
    position: relative;
    background-color: #ffe699;
    height: 100px;
    width: 100%;
    margin-top: auto;
}

#team_names {
    position: fixed;
    bottom: 0;
    right: 0;
  font-family: 'Pochirin';
    font-size: 16px;
    padding: 10px;
}
